
**/bin/*
**/obj/*
*.pdb
*.pkgdef
AutoDoxyDoc/bin/Debug/*
AutoDoxyDoc/bin/Release/*
AutoDoxyDoc/backup/*
**/.vs/**/v15/**
*TemporaryGeneratedFile*
AutoDoxyDoc/.vs/AutoDoxyDoc/v15/.suo
AutoDoxyDoc/UpgradeLog.htm
